@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    user-select: none;
}

html, body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    overflow-x: hidden;
    width: 100%;
}

/* Profile Text Animation */
@keyframes textReveal {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-reveal span {
  animation: textReveal 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}